{% extends 'bbd/base.html' %}

{% block content %}
<ul>

<h1>New schedule</h1>

<form method="post" action="{% url 'create_new_schedule' %}">
  {% csrf_token %}
  <table class="table table-striped table-hover">
    <tr>
      <td class="col-md-4">ValveID</td>
      <td>
        <select class="form-control" name="valveid_f">
          <option disabled selected> -- select an option -- </option>
          {% for valve_id_e in valve_id_list %}
          <option value="{{valve_id_e}}">{{valve_id_e}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr><td class="col-md-4">Description</td><td class="col-md-8"><input class="form-control" type="text" name="description" autocomplete="off"></td></tr>
    <tr>
      <td class="col-md-4">Watering Schedule</td>
      <td class="col-md-8">
        <div class="input-group">
          <span class="input-group-addon">Starting at:</span>
          <input class="form-control" size="2" type="text" name="start_h" placeholder="start hour" autocomplete="off">
          <span class="input-group-addon">:</span>
          <input class="form-control" size="2" type="text" name="start_m" placeholder="start min" autocomplete="off">
          <span class="input-group-addon"> Stoping at:</span>
          <input class="form-control" size="2" type="text" name="stop_h" placeholder="stop hour" autocomplete="off">
          <span class="input-group-addon">:</span>
          <input class="form-control" size="2" type="text" name="stop_m" placeholder="stop min" autocomplete="off">
        </div>
      </td>
    </tr>
  </table>
  <button class="btn btn-default" type="submit">submit</button>
</form>
{% endblock %}
