{% extends 'bbd/base.html' %}

{% block content %}
<ul>

<h1>Devices</h1>

{% if device_list %}
<table class="table table-striped table-hover">
  <thead>
    <th>id</th>
    <th>description</th>
    <th>valves</th>
    <th>valve details</th>
  </thead>
  <tbody>
    {% for device in device_list %}
    <tr>
      <td>{{device.0}}</td>
      <td>{{device.1}}</td>
      <td>{{device.2}}</td>
      <td><button class="btn btn-secondary fas fa-arrow-right" onclick="javascript:device_click({{device.0}})"></button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
    function device_click(device_id){
      if(device_id){
        window.location="{% url 'valves_index' %}?deviceid="+device_id;
      }
    }
</script>
{% endif %}
{% endblock %}
