{% extends 'bbd/base.html' %}
{% block content %}
<ul>

<h1>Valves</h1>
{% if valve_list %}
  <table class="table table-striped table-hover">
    <thead>
      <th>id</th>
      <th>description</th>
      <th>device</th>
      <th>schedules</th>
    </thead>
    <tbody>
      {% for valve in valve_list %}
      <tr>
        <td>{{valve.0}}</td>
        <td>{{valve.1}}</td>
        <td>{{valve.2}}</td>
        <td><button class="btn btn-secondary fas fa-arrow-right" onclick="javascript:valve_click({{valve.0}})"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>
      function valve_click(valve_id){
        if(valve_id){
          window.location="{% url 'schedules_index' %}?valveid="+valve_id;
        }
      }
  </script>
{% endif %}
{% endblock %}
