<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<body>
    <div class="navbar navbar-default" class="col-md-12">
        <h1><a class="col-md-8" href="/bbd/">BlueBerryDrop</a></h1>
        <a class="col-md-1" href="/bbd/valves">valves</a>
        <a class="col-md-3" href="/bbd/schedules">Schedules</a>
        <!--
        <a class="col-md-1" href="/tunnels/manage_peers/">peers</a>
        <a class="col-md-1" href="/accounts/profile/">profile</a>
        <a class="col-md-1" href="/accounts/logout/">logout</a>
    	-->
    </div>
    {% block content %}
    {% endblock %}
</body>
