{% extends 'valves/base.html' %}
{% load staticfiles %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{% static "js/form_clone.js" %}" type="text/javascript"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<ul>

<h1>New schedule</h1>
<form action="#" method="POST">
	{% csrf_token %}
	{{ cicle_form_set.management_form }}
	<div>
		<div class="col-md-12">ValveID: {{valve_id}}</div>
		<div class="col-md-1">Description: </div><div class="col-md-11"><input type="text" name="description"></div>
	</div>
	<h2>Cycles</h2>
	<div class='table'>
	{% for form in cicle_form_set.forms %}
			<table class='no_error'>
					<tr>
						<td>{{form.start_hour}}:{{form.start_min}}</td><td>=></td><td>{{form.stop_hour}}:{{form.stop_min}}</td>
					</tr>
			</table>
	{% endfor %}
	</div>


	<input type="button" value="add cycle" id="add_more">
	<script>
	    $('#add_more').click(function() {
	        cloneMore('div.table:last', 'service');
	    });
	</script>
	<input type="submit" class="btn" value="submit schedule" name="submit_sche">

</form>

{% endblock %}
