[Unit]
Description=Start bbda socket server
After=network.target

[Service]
User=f0lk
Group=f0lk
Type=forking
PIDFile=/opt/bbd_server/run/bbda_server.pid
ExecStart=/opt/bbd_server/daemon/bbda_server start
ExecStop=/opt/bbd_server/daemon/bbda_server stop

[Install]
WantedBy=default.target
Alias=bbda_server
